In [1]:
import pandas as pd

In [2]:
# Read data from file
df = pd.read_csv('adult.data.csv')

df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [4]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()

# What is the average age of men?
# Copy of dataframe containing only males
males = df[df['sex'] == 'Male'] # this contains all the males in the database
average_age_men = males['age'].mean()

# What is the percentage of people who have a Bachelor's degree?
# create python series which contains all the degrees
degrees = df['education'].value_counts()
percentage_bachelors = (degrees['Bachelors']/degrees.sum()) * 100

# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
lower_education = df[~df['education'].isin(['Bachelors','Masters','Doctorate'])]

# percentage with salary >50K
higher_education_rich = (len(higher_education[higher_education['salary'] == '>50K'])/len(higher_education)) * 100
lower_education_rich = (len(lower_education[lower_education['salary'] == '>50K'])/len(lower_education)) * 100

# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()

# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
# dataframe containing workers who work for the minimum number of hours
df_min_work_hours = df[df['hours-per-week'] == 1]

num_min_workers = len(df_min_work_hours[df_min_work_hours['salary'] == '>50K'])

rich_percentage = (num_min_workers/len(df_min_work_hours)) * 100

# What country has the highest percentage of people that earn >50K?
high_salary = df[df['salary'] == '>50K']
country_list = high_salary['native-country'].value_counts()

highest_earning_country = country_list.idxmax()
highest_earning_country_percentage = (country_list.max()/country_list.sum()) * 100

# Identify the most popular occupation for those who earn >50K in India.
# Dataframe containing all Indians who earn >50K
rich_indians = high_salary[high_salary['native-country'] == 'India']


top_IN_occupation = rich_indians['occupation'].value_counts().idxmax()

In [6]:
values = {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

values

{'race_count': race
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: count, dtype: int64,
 'average_age_men': 39.43354749885268,
 'percentage_bachelors': 16.44605509658794,
 'higher_education_rich': 46.535843011613935,
 'lower_education_rich': 17.3713601914639,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'United-States',
 'highest_earning_country_percentage': 91.45517153424308,
 'top_IN_occupation': 'Prof-specialty'}

In [7]:
print("Number of each race:\n", race_count)
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64
Average age of men: 39.43354749885268
Percentage with Bachelors degrees: 16.44605509658794%
Percentage with higher education that earn >50K: 46.535843011613935%
Percentage without higher education that earn >50K: 17.3713601914639%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: United-States
Highest percentage of rich people in country: 91.45517153424308%
Top occupations in India: Prof-specialty